.app {
  display: flex;
  padding: 0.5rem;
}

.app__header {
  background-color: rgba(121, 99, 210, 0.133);
  margin-bottom: 0.5rem;
  padding: 1rem 2rem;
}

.app__header h1 {
  color: #7963d2;
  margin: 0;
}

.app__quotes {
  width: 25%;
}

.app__editor {
  margin-left: 0.75rem;
  flex: 1;
}
